
<ion-content padding>
    <ion-list>
        <ion-list-header>Seleção</ion-list-header>
        <ion-item>
          <ion-label>Genero</ion-label>
          <ion-select placeholder="Selecione">
            <ion-select-option value="f">Mulher</ion-select-option>
            <ion-select-option value="m">Homem</ion-select-option>
          </ion-select>
        </ion-item>
      
        <ion-item>
          <ion-label>Cor Cabelo</ion-label>
          <ion-select value="brown" okText="Aceitar" cancelText="Cancelar">
            <ion-select-option value="brown">Castanho</ion-select-option>
            <ion-select-option value="blonde">Loiro</ion-select-option>
            <ion-select-option value="black">Preto</ion-select-option>
            <ion-select-option value="red">Vermlho</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
</ion-content>
