<ion-menu side="start" menuId="menu">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)="goHome()">Home</ion-item>
      <ion-item (click)="goLista()">Lista</ion-item>
      <ion-item (click)="goSelect()">Seleção</ion-item>
      <ion-item (click)="goImage()">Image</ion-item>
      <ion-item (click)="goModal()">Modal</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" main>
  <ion-header>
    <ion-toolbar>
      <ion-grid fixed>
        <ion-row>
          <ion-col size="4">
              <ion-icon class="icone-header" padding-left name="menu" (click)="openMenu()" float-left ></ion-icon>
          </ion-col>
          <ion-col size="4">
              <ion-title text-center>Home</ion-title>
          </ion-col>
          <ion-col size="4">
              <ion-icon class="icone-header" padding-right name="log-out" (click)="sair()" float-right ></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>
  <ion-content padding>
        <ion-router-outlet id="menu"></ion-router-outlet>
  </ion-content>
</div>
