<ion-header>
  <ion-toolbar>
      <ion-grid fixed>
          <ion-row>
            <ion-col offset="4" size="4">
                <ion-title text-center>Modal</ion-title>
            </ion-col>
            <ion-col size="4">
                <ion-icon class="icone-header" padding-right name="log-out" (click)="sair()" float-right ></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">Conteúdo Model</ion-col>
      <ion-col size="12" margin-top>
        <ion-button (click)="close()" expand="full">
          OK
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>